#canvas{
  z-index: 0;
}
#background{
  z-index: -1;
}
canvas{
  /* border: 1px solid black; */
  position: absolute;
  top: 10%;
  left: 25%;
  background: transparent;

}


body{
  background-image: url("./assets/images/star2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.title{
  font-family: 'Righteous', cursive;
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
}

.controls{
  font-family: 'Righteous', cursive;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
}
