#canvas{
  z-index: 0;
}
#background{
  z-index: -1;
}
a{
  text-decoration: none;
  color: inherit;
}
canvas{
  /* border: 1px solid black; */
  position: absolute;
  top: 10%;
  left: 25%;
  background: transparent;

}
audio{
  display: none;
}
#gameOver{
  position: absolute;
  top: 25%;
  left: 40%;
  font-family: 'Righteous', cursive;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
}
.invisible{
  visibility: hidden;
}

body{
  background-image: url("./assets/images/star2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.title{
  font-family: 'Righteous', cursive;
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
}

.controls{
  font-family: 'Righteous', cursive;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
  list-style: none;
}

.main{
  display: flex;

}
.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.mute{
  height: 50px;
  width: 50px;
  color: #ff0080;
  margin-left: 60px;
}

.mute:hover{
  cursor:pointer;
  color: #2dedc6;
}
.buttons{
  display: flex;
  align-content: center;
  align-items: center;
}
#play{
  background-image: url("./assets/sprites/Spaceship_art_pack/Menu Screen/play_buttons.png");
  height: 50px;
  width: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 1px solid white; */
  padding: 0;
  margin-left: 40px;
}

#play:hover{
  cursor: pointer;
  background-image: url("./assets/sprites/Spaceship_art_pack/Menu Screen/play_buttons_pressed_blue.png");
}

.info-list{
  font-family: 'Righteous', cursive;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
  list-style: none;
  margin-bottom: 15px;
}

.info-list:hover{
  color: #42f4e8;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #2dedc6, 0 0 30px #2dedc6, 0 0 40px #2dedc6, 0 0 55px #2dedc6, 0 0 75px #2dedc6;
}
